{
  "root": true,
  "extends": ["@strapi/eslint-config/front/typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.eslint.json"
      }
    }
  },
  "rules": {
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "fixStyle": "inline-type-imports"
      }
    ]
  },
  "overrides": []
}
